<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control">

        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Roll No</label>
            <input type="text" class="form-control">


        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">College</label>
            <input type="text" class="form-control">

        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Addmission No</label>
            <input type="text" class="form-control">

        </div>

        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Parent Name</label>
            <input type="text" class="form-control">

        </div>
   
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Date of Birth</label>
            <input type="date" name="" id="" class="form-control">
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Address</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
    
   
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Phone No</label>
            <input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Parent No</label>
            <input type="text" class="form-control">
        </div>
    
    
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Email ID</label>
           <input type="email" name="" id="" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Blood Group</label>
            <select name="" id="" class="form-control">
                <option value="A+">A+</option>
                <option value="O-">O-</option>
                <option value="OB+">OB+</option>
                <option value="O+">O+</option>
            </select>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <button class="btn btn-success">Submit</button>
        
    </div>
</div>
